.shadow-text-black {
    text-shadow: 2px 2px 8px #212121;

}
.profile{
    padding-top: 5%;
}
.contato p, .contato strong{
    display: inline;
}
.contato .celular{
    margin-top: 3%;
}

.card-panel{
    height: 200px;
}
.card-panel img{
    max-height: 100%;
}

#react-native{
    margin-top: 60px;
}